#ref-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
    margin-top: 2em;
}

#ref-table td, #ref-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ref-table tr:nth-child(even){background-color: #C9C9C9;}

#ref-table tr:hover {background-color: #ddd;}

#ref-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #46668E;
  color: white;
}
.main h1{
    text-align: center;
}